<template lang="html">
  <div class="">
    <!--  Pop Up Subtitle  -->
    <v-layout row>
       <v-flex xs12 >
         <v-text-field
           name="input-1"
           v-model="popupBtnText"
           label="Button Text"
           id="testing"
         ></v-text-field>
       </v-flex>

       <!--  The palette picker-->
       <v-flex class="palette-container" xs2 v-if="advancedSelected">
         <!--  Palette popup -->
         <div class="palette-underlay" v-if="showPopUpPalette" v-model="showPopUpPalette" @click="showPopUpPalette = !showPopUpPalette"></div>
         <div class="palette-colorpicker" v-model="showPopUpPalette" v-if="showPopUpPalette">
           <chrome v-model="colors" @change-color="onChange"></chrome>
         </div>
         <!--  End Palette popup -->
         <div class="palette-selector" :style="{backgroundColor: colors.hex}" @click="showPopUpPalette = !showPopUpPalette"></div>
       </v-flex>

       <!--  The Bg picker-->
       <v-flex class="palette-container" xs2 v-if="advancedSelected">
         <!--  Palette popup -->
         <div class="palette-underlay" v-if="showPopUpPaletteBg" v-model="showPopUpPaletteBg" @click="showPopUpPaletteBg = !showPopUpPaletteBg"></div>
         <div class="palette-colorpicker" v-model="showPopUpPaletteBg" v-if="showPopUpPaletteBg">
           <chrome v-model="bgColor" @change-color="onChangeBg"></chrome>
         </div>
         <!--  End Palette popup -->
         <div class="palette-selector" :style="{backgroundColor: bgColor.hex}" @click="showPopUpPaletteBg = !showPopUpPaletteBg"></div>
       </v-flex>
      
     </v-layout>
  </div>
</template>

<script>

export default {
  data () {
    return {
      popupBtnText: null,
      showPopUpPalette: false,
      showPopUpPaletteBg: false,
      colors: {
        hex: '#FFFFFF',
        hsl: {
          h: 150,
          s: 0.5,
          l: 0.2,
          a: 1
        },
        hsv: {
          h: 150,
          s: 0.66,
          v: 0.30,
          a: 1
        },
        rgba: {
          r: 25,
          g: 77,
          b: 51,
          a: 1
        },
        a: 1
      },
      bgColor: {
        hex: '#00cc47',
        hsl: {
          h: 150,
          s: 0.5,
          l: 0.2,
          a: 1
        },
        hsv: {
          h: 150,
          s: 0.66,
          v: 0.30,
          a: 1
        },
        rgba: {
          r: 25,
          g: 77,
          b: 51,
          a: 1
        },
        a: 1
      }
    }
  },
  methods: {
    onChange (val) {
        this.colors = val
    },
    onChangeBg (val) {
        this.colorBg = val
    }
  },
  watch: {
    popupBtnText () {
      return this.$store.dispatch('setPopUpBtnText', this.popupBtnText)
    },
    colors () {
      return this.$store.dispatch('setPopUpBtnTextColor', this.colors.hex)
    },
    bgColor () {
      return this.$store.dispatch('setPopUpBtnColor', this.bgColor.hex)
    }
  },
  computed: {
    advancedSelected () {
        return this.$store.getters.advancedSelected
    },
    currentPopupBtnColor () {
      return this.$store.getters.popupBtnColor
    },
    currentpopupBtnText () {
      return this.$store.getters.currentpopupBtnText
    },
    popUpBtnTextColor () {
      return this.$store.getters.popUpBtnTextColor
    }
  },
  created () {

      // PopUp Button color
      if (!this.currentPopupBtnColor ){
        this.popupBtnColor = '#00cc47'
      } else {
        this.popupBtnColor = this.currentPopupBtnColor
      }

      // Pop up btn text
      if (!this.currentpopupBtnText) {
        this.popupBtnText = 'Subscribe'
      } else {
        this.popupBtnText = this.currentpopupBtnText
      }

      // Pop btn Text colors
      if (!this.popUpBtnTextColor) {
          this.popupBtnTextColor = '#FFFFF'
      } else {
          this.popupBtnTextColor = this.popUpBtnTextColor
      }

  }
}
</script>

<style lang="css">

.palette-container {
    display: flex;
    align-items: center;
}

.palette-selector {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid lightgrey;
 background-color: blue;
}

.palette-underlay {
  background: grey;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.palette-colorpicker {
  z-index: 30;
  position: fixed;
  top: 40%;
  left: 42%;
}
</style>
