<template lang="html">
  <div class="">
    <!--  Pop Up Subtitle  -->
    <v-layout row>
       <v-flex xs12 >
         <v-text-field
           name="input-1"
           v-model="popupSubTitle"
           label="(optional) Write the subtitle to your pop up"
           id="testing"
         ></v-text-field>
       </v-flex>

       <!--  The palette picker-->
       <v-flex class="palette-container" xs2 v-if="advancedSelected">
         <!--  Palette popup -->
         <div class="palette-underlay" v-if="showPopUpPalette" v-model="showPopUpPalette" @click="showPopUpPalette = !showPopUpPalette"></div>
         <div class="palette-colorpicker" v-model="showPopUpPalette" v-if="showPopUpPalette">
           <chrome v-model="colors" @change-color="onChange"></chrome>
         </div>
         <!--  End Palette popup -->
         <div class="palette-selector" :style="{backgroundColor: this.colors.hex}" @click="showPopUpPalette = !showPopUpPalette"></div>
       </v-flex>
        
     </v-layout>
  </div>
</template>

<script>

export default {
  data () {
    return {
      popupSubTitle: null,
      showPopUpPalette: false,
      colors: {
        hex: '#FFFFFF',
        hsl: {
          h: 150,
          s: 0.5,
          l: 0.2,
          a: 1
        },
        hsv: {
          h: 150,
          s: 0.66,
          v: 0.30,
          a: 1
        },
        rgba: {
          r: 25,
          g: 77,
          b: 51,
          a: 1
        },
        a: 1
      }
    }
  },
  methods: {
    onChange (val) {
        this.colors = val
    }
  },
  watch: {
    popupSubTitle () {
      return this.$store.dispatch('setPopUpSubTitle', this.popupSubTitle)
    },
    colors () {
      return this.$store.dispatch('setSubTitleColor', this.colors.hex)
    }
  },
  computed: {
    advancedSelected () {
        return this.$store.getters.advancedSelected
    },
    currentPopUpSubTitle () {
      return this.$store.getters.currentPopUpSubTitle
    }
  },
  created () {
      // Popup button text
      if (!this.currentPopUpSubTitle ){
        this.popupSubTitle = 'You are about to join our amazing community.'
      } else {
        this.popupSubTitle = this.currentPopUpSubTitle
      }

      
  }
}
</script>

<style lang="css">

.palette-container {
    display: flex;
    align-items: center;
}

.palette-selector {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
 background-color: blue;
}

.palette-underlay {
  background: grey;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.palette-colorpicker {
  z-index: 30;
  position: fixed;
  top: 40%;
  left: 42%;
}
</style>
