<template lang="html">
  <div class="footer-container">

        <v-flex class="footer-buttons">
          <v-btn class="secondary-warning" @click="previousPreviewStep" v-if="currentPreviewStep >= 1 && currentPreviewStep <= 3">
            Previous
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn flat color="primary"  @click.stop="dialog2 = !dialog2" class="secondary-warning" v-if="advancedSelected">
            Reset colors
          </v-btn>
          <!-- <v-spacer></v-spacer> -->
          <v-btn class="primary" @click="nextPreviewStep" v-if="currentPreviewStep < 3">
            {{this.buttonText}}
          </v-btn>
          <v-btn class="primary" @click="createPopUp" v-if="currentPreviewStep == 3">
            SUBMIT
          </v-btn>
        </v-flex>

        <v-dialog v-model="dialog2" max-width="500px">
        <v-card>

          <v-card-text>
        
            <h3>This will reset all of your set colors.
             <strong>Do you want to continue?</strong>  
            </h3>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" @click="resetAllColors"> Continue</v-btn>
            <v-btn color="primary" flat @click.stop="dialog2=false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>


  </div>
</template>

<script>
import { EventBus } from '../../main.js'

export default {
  data (){
    return {
      dialog2: false,
      submitStatus: null
    }
  },
  methods: {
    nextPreviewStep () {
      if ( this.currentPreviewStep == 3 ){
        console.log('this is the enddd!')
      } else {
        return this.$store.dispatch('nextPreviewStep')
      }
    },
    previousPreviewStep () {
      return this.$store.dispatch('previousPreviewStep')
    },
    resetAllColors (){
      this.dialog2 = false
      EventBus.$emit('resetAllColors', '#0065ff')
      return this.$store.dispatch('resetAllColors')
    },
    createPopUp() {
      
      if (this.$store.getters.currentPopUpTiming !== null && this.$store.getters.currentWebsiteUrl !== null) {
        return this.$store.dispatch('createPopUp', this.$store.state)

      } else if (this.$store.getters.currentPopUpTiming == null) {
          return this.$store.dispatch('showErrorTiming', true)

      } else if (this.$store.getters.currentWebsiteUrl == null) {
        return this.$store.dispatch('showErrorUrl', true)
      }
    }
  },
  computed: {
    currentPreviewStep () {
        return this.$store.getters.currentPreviewStep
    },
    buttonText () {
      if ( this.currentPreviewStep == 3) {
        return 'Submit'
      } else {
        return 'next'
      }
    },
    advancedSelected () {
      return this.$store.getters.advancedSelected 
    }
  }
}
</script>

<style lang="css">
.footer-container {
  background-color: #eaeced;
  height:60px;
}

.footer-buttons {
  padding:5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
</style>
