<template lang="html">
  <div style="height: 542px;">
  <div class="loading" v-if="loading">
    <app-loading></app-loading>
  </div>
  <div class="preview-container" v-if="!loading">
      <v-flex md6>

        <!--  Preview step 1 with browser -->
        <div class="preview-browser elevation-16" v-if="currentPreviewStep == 0" >
            <div class="browser-bar">
              <i></i>
              <i></i>
              <i></i>
            </div>

            <div class="browser-page" :style="{backgroundColor: colors.hex}" >
              <div  class="browser__popup elevation-8"
                    :style="{backgroundColor: this.popupBackgroundColor}"
                    v-bind:class="[popupStyle, currentPopupPosition, currentPopUpAnimation, minHeight]"
                    >
              </div>
              <!-- needs placinasdfasg asdfasdasdf tandom in store then verfiy if fields added -->
              <div class="popup__image">

              </div>
            </div>

        </div>

        <!--  Preview step 2 without browser -->
        <div class="preview-browser elevation-16" v-if="currentPreviewStep >= 1 && currentPreviewStep <= 3">
          <div class="browser-bar">
            <i></i>
            <i></i>
            <i></i>
          </div>

          <!-- BG Overlay for center popup -->
          <div class="overlay-bg" v-if="showCloseButton">
               <div :class="[overlayBg]"></div>
               <v-btn v-if="showCloseButton" @click="showCloseButton = !showCloseButton" class="primary close-button index-top"><span class="x-size">&times;</span> Stop Example</v-btn>
          </div>

          <div class="browser-page" :style="{backgroundColor: colors.hex}">
            <div  class="browser__popup elevation-8"
                  :style="{backgroundColor: this.popupBackgroundColor}"
                  v-bind:class="[popupStyle, currentPopupPosition, currentPopUpAnimation, heightModifier, moveBrowserPopUp]"
                  >
              <div class="" v-if="currentPreviewStep >= 1"
                   :class="[computeFlexClass, computeOneThird]">

                  <h2 class="mb-2" :style="{color: this.popUpTitleColor, marginRight: this.addMargin}"
                      :class="[computeoneThirdGridH2]">{{ PopUpTitle }}</h2>
                  <h4 :style="{color: this.popUpSubTitleColor}" v-if="isOneLiner"
                      :class="[computeoneThirdGridH4]">{{ currentPopUpSubTitle }}</h4>
                  <div class="preview__input"
                      :class="[computeoneThirdGridPreviewInput]"
                      :style="{marginTop: this.computeMargins}">
                      <div class="fake-input" v-if="showTextField1 && isOneLiner"
                      :style="{margin: this.oneThirdMargin}">
                        {{ currentTextField1 }}
                      </div>
                      <div class="fake-input" v-if="showTextField2 && isOneLiner">
                        {{ currentTextField2 }}
                      </div>
                      <div class="fake-input"
                        :style="{margin: this.oneThirdMargin}">
                        Email
                      </div>
                  </div>

                  <div class="preview__button"
                       :style="{color: this.popUpBtnTextColor, backgroundColor: this.popupBtnColor, margin: this.computeNoMargin }"
                       :class="[computeoneThirdGridPreviewBtn]">
                    {{ currentpopupBtnText }}
                  </div>

                </div>
              </div>
              <div class="popup-image"
                   :class="[computeImageAlignment]">
              </div>
           </div>

        </div>


        <!--  Palette control area for the background  -->
          <div class="palette-underlay" v-if="showPalette" v-model="showPalette" @click="showPalette = !showPalette"></div>
          <div class="palette-colorpicker" v-model="showPalette" v-if="showPalette">
            <chrome v-model="colors" @change-color="onChange"></chrome>
          </div>
          <v-layout row wrap class="palette-advanced-animation" v-if="advancedSelected && currentPreviewStep == 0">
            <v-flex xs10>
              <v-subheader>Choose the background color that corresponds the most to your website:</v-subheader>
            </v-flex>
            <v-flex class="palette-container" xs2>
              <div class="palette-selector" :style="{backgroundColor: colors.hex}" @click="showPalette = !showPalette"></div>
            </v-flex>
          </v-layout>


      </v-flex>
      <v-flex md6 class="">
        <app-fields-1 v-if="currentPreviewStep == 0"></app-fields-1>
        <app-fields-2 v-if="currentPreviewStep == 1"></app-fields-2>
        <app-fields-3 v-if="currentPreviewStep == 2"></app-fields-3>
        <app-fields-4 v-if="currentPreviewStep == 3"></app-fields-4>
        

        
        <div  class="advanced-options"
              @click=" advancedSelected = !advancedSelected"
              v-if="currentPreviewStep == 0">
            {{ this.advancedSelectedText }}
        </div>
      </v-flex>
      
  </div>
  <v-layout row md12  v-if="currentPreviewStep == 4">
      <v-flex class="" >
        <app-submitted ></app-submitted>
      </v-flex>
  </v-layout>

  </div>
</template>

<script>
import { Photoshop, Chrome } from 'vue-color'
import { EventBus } from '../../main.js'


export default {
  components: {
    Photoshop,
    Chrome
  },
    data () {
      return {
        advancedSelected: false,
        showPalette: false,
        showCloseButton: false,
        colors: {
          hex: '#0065ff',
            hsl: {
              h: 150,
              s: 0.5,
              l: 0.2,
              a: 1
            },
            hsv: {
              h: 150,
              s: 0.66,
              v: 0.30,
              a: 1
            },
            rgba: {
              r: 25,
              g: 77,
              b: 51,
              a: 1
            },
            a: 1
          }
        }
    },
    methods: {
      onChange (val) {
        this.colors = val
      }

    },
    watch: {
      watchHex (){



        if (this.$store.getters.currentPopupType == 'Full Screen') {
          if ( this.$store.getters.selectedImage == 'Background') {
              return this.$store.dispatch('popup-background-color', val)
            } else  {
              return ''
            }
        } else {
            return this.$store.dispatch('popup-background-color', val)
        }

      },
      advancedSelected (){
        return this.$store.dispatch('advancedSelected', this.advancedSelected)
      },
      colors (){
        return this.$store.dispatch('browserPageBg', this.colors.hex)
      },

    },
    computed: {
        currentPreviewStep () {
            return this.$store.getters.currentPreviewStep
        },
        popupStyle () {
            if ( this.$store.getters.currentPopupType ) {
              return 'type--' + this.$store.getters.currentPopupType.replace(/\s+/g, '')
            }
        },
        minHeight () {
          if ( this.$store.getters.currentPreviewStep == 0) {
            if ( this.$store.getters.currentPopupType == 'Corners') {
              return 'minHeight'
            }
          }
        },
        currentPopupPosition () {
            if (this.$store.getters.currentPopupPosition) {
              return 'position--' + this.$store.getters.currentPopupPosition.text.replace(/\s+/g, '')
            }
        },
        currentPopUpAnimation () {
            if (this.$store.getters.currentPopUpAnimation) {
              return 'animated ' + this.$store.getters.currentPopUpAnimation.text
            }
        },
        PopUpTitle () {
            return this.$store.getters.currentPopUpTitle
        },
        currentpopupBtnText () {
            return  this.$store.getters.currentpopupBtnText
        },
        currentTextField1 () {
            return this.$store.getters.currentTextField1
        },
        currentTextField2 () {
            return this.$store.getters.currentTextField2
        },
        currentPopUpSubTitle () {
            return this.$store.getters.currentPopUpSubTitle
        },
        showTextField1 () {
           return this.$store.getters.showTextField1
        },
        showTextField2 () {
           return this.$store.getters.showTextField2
        },
        bgc () {
          return this.colors.hex
        },
        popupBackgroundColor () {
          return this.$store.getters.currentPopupBackgroundColor
        },
        advancedSelectedText () {
          return this.$store.getters.advancedSelected ? '< Basic options' : 'Advanced options >'
        },
        popupBtnColor () {
          return this.$store.getters.popupBtnColor
        },
        popUpBtnTextColor () {
          return this.$store.getters.popupBtnTextColor
        },
        popUpSubTitleColor () {
          return this.$store.getters.popUpSubTitleColor
        },
        popUpTitleColor () {
          return this.$store.getters.popUpTitleColor
        },
        isOneLiner () {
            if (this.$store.getters.currentPopupType == 'One Liner') {
              return false
            } else {
              return true
            }
        },
        computeFlexClass () {
          if (this.$store.getters.currentPopupType == 'One Liner') {
            return 'oneLinerFlex'
          } else{
            return ''
          }
        },
        computeNoMargin () {
          if (this.$store.getters.currentPopupType == 'One Liner') {
            return '5px 0 0 0'
          } else if ( this.$store.getters.currentPopupType == 'One Third') {
              return '0 0 0 270px'
          } else {
            return ''
          }
        },
        heightModifier () {
          if ( this.$store.getters.currentPopupType == 'Center') {
            if (this.$store.getters.showTextField1 == true && this.$store.getters.showTextField2 == true ) {
              return 'height--60'
            } else if ( this.$store.getters.showTextField1 ) {
              return 'height--40'
            } else {
              return ''
            }
          }
          if ( this.$store.getters.currentPopupType == 'Corners') {
            if (this.$store.getters.showTextField1 == true && this.$store.getters.showTextField2 == true ) {
              return 'height--40'
            } else if ( this.$store.getters.showTextField2 == true ) {
              return 'height--40'
            } else {
              return ''
            }
          }
        },
        addMargin () {
          if ( this.$store.getters.currentPopupType == 'One Liner') {
            return '20px'
          }
        },
        computeOneThird () {
          if ( this.$store.getters.currentPopupType == 'One Third') {
            return 'oneThirdGrid'
          }
        },
        computeoneThirdGridH2 () {
          if ( this.$store.getters.currentPopupType == 'One Third') {
            return 'oneThirdGrid-H2'
          }
        },
        computeoneThirdGridH4 () {
          if ( this.$store.getters.currentPopupType == 'One Third') {
            return 'oneThirdGrid-H4'
          }
        },
        computeoneThirdGridPreviewInput () {
          if ( this.$store.getters.currentPopupType == 'One Third') {
            return 'oneThirdGrid-PreviewInput'
          }
        },
        computeoneThirdGridPreviewBtn () {
          if ( this.$store.getters.currentPopupType == 'One Third') {
            return 'oneThirdGrid-PreviewBtn'
          }
        },
        oneThirdMargin () {
          if ( this.$store.getters.currentPopupType == 'One Third') {
            return '-10px 2px 0 0'
          } else if ( this.$store.getters.currentPopupType == 'One Liner') {
            return '2px 2px auto auto'
          } else {
            return '2px auto'
          }
        },
        oneThirdRemoveMargin () {
          if ( this.$store.getters.currentPopupType == 'One Third') {
            return '0'
          } else {
            return 'auto'
          }
        },
        computeMargins () {
          if ( this.$store.getters.currentPopupType == 'Center') {
            return '20px'
          } else if ( this.$store.getters.currentPopupType == 'Full Screen') {
            return '20px'
          } else if ( this.$store.getters.currentPopupType == 'One Liner') {
            return '3px'
          } else if ( this.$store.getters.currentPopupType == 'One Third') {
            return '10px'
          } else {
            return 'auto'
          }
        },
        selectedImage () {
            return this.$store.getters.selectedImage
        },
        computeImageAlignment () {

          // Compute all options is popup is Center
          if (this.$store.getters.currentPopupType == 'Center') {

            // Popup doesn't have extra text field
            if (this.$store.getters.showTextField2 == false){

              if ( this.$store.getters.selectedImage == 'Top') {
                return 'computeImageAlignment imageAlign--Top'
              } else if ( this.$store.getters.selectedImage == 'Right') {
                return 'imageAlign--Right'
              } else if ( this.$store.getters.selectedImage == 'Left') {
                return 'imageAlign--Left'
              } else if ( this.$store.getters.selectedImage == 'None') {
                console.log('none')
              }
            }

            // Popup doesn't have extra text field
            if (this.$store.getters.showTextField2 == true){
              // add the class imageHeight--200
              if ( this.$store.getters.selectedImage == 'Top') {
                return 'computeImageAlignment imageAlign--Top'
              } else if ( this.$store.getters.selectedImage == 'Right') {
                return 'imageAlign--Right imageHeight--220'
              } else if ( this.$store.getters.selectedImage == 'Left') {
                return 'imageAlign--Left imageHeight--220'
              } else if ( this.$store.getters.selectedImage == 'None') {
                console.log('none')
              }
            }
          }

          // Compute all options if popup is Center
          if (this.$store.getters.currentPopupType == 'Corners') {

            if (this.$store.getters.currentPopupPosition != null) {
            // Popup doesn't have extra text field
            if (this.$store.getters.showTextField2 == false){

              // Top Left type
              if (this.$store.getters.currentPopupPosition.text == 'Top left'){
                if ( this.$store.getters.selectedImage == 'Top') {
                    return 'computeImageAlignment imageAlignCorners--TopLeftTop'
                  } else if ( this.$store.getters.selectedImage == 'Right') {
                    return 'imageAlignCorners--TopLeftRight'
                  } else if ( this.$store.getters.selectedImage == 'Left') {
                    return 'imageAlignCorners--TopLeftLeft'
                  } else if ( this.$store.getters.selectedImage == 'None') {
                    console.log('none')
                  }
                }
              // Top Right type
              if (this.$store.getters.currentPopupPosition.text == 'Top right'){
                if ( this.$store.getters.selectedImage == 'Top') {
                    return 'computeImageAlignment imageAlignCorners--TopRightTop'
                  } else if ( this.$store.getters.selectedImage == 'Right') {
                    return 'imageAlignCorners--TopRightRight'
                  } else if ( this.$store.getters.selectedImage == 'Left') {
                    return 'imageAlignCorners--TopRightLeft'
                  } else if ( this.$store.getters.selectedImage == 'None') {
                    console.log('none')
                  }
                }
              // Bottom Right type
              if (this.$store.getters.currentPopupPosition.text == 'Bottom right'){
                if ( this.$store.getters.selectedImage == 'Top') {
                    return 'computeImageAlignment imageAlignCorners--BottomRightTop'
                  } else if ( this.$store.getters.selectedImage == 'Right') {
                    return 'imageAlignCorners--BottomRightRight'
                  } else if ( this.$store.getters.selectedImage == 'Left') {
                    return 'imageAlignCorners--BottomRightLeft'
                  } else if ( this.$store.getters.selectedImage == 'None') {
                    console.log('none')
                  }
                }
              // Bottom Left type
              if (this.$store.getters.currentPopupPosition.text == 'Bottom left'){
                if ( this.$store.getters.selectedImage == 'Top') {
                    return 'computeImageAlignment imageAlignCorners--BottomLeftTop'
                  } else if ( this.$store.getters.selectedImage == 'Right') {
                    return 'imageAlignCorners--BottomLeftRight'
                  } else if ( this.$store.getters.selectedImage == 'Left') {
                    return 'imageAlignCorners--BottomLeftLeft'
                  } else if ( this.$store.getters.selectedImage == 'None') {
                    console.log('none')
                  }
                }
              }

            // Popup does have extra text field
            if (this.$store.getters.showTextField2 == true){

              if (this.$store.getters.currentPopupPosition.text == 'Top left'){
                if ( this.$store.getters.selectedImage == 'Top') {
                    return 'computeImageAlignment imageAlignCorners--TopLeftTop'
                  } else if ( this.$store.getters.selectedImage == 'Right') {
                    return 'imageAlignCorners--TopLeftRight imageHeight--200'
                  } else if ( this.$store.getters.selectedImage == 'Left') {
                    return 'imageAlignCorners--TopLeftLeft imageHeight--200'
                  } else if ( this.$store.getters.selectedImage == 'None') {
                    console.log('none')
                  }
                }

              if (this.$store.getters.currentPopupPosition.text == 'Top right'){
                if ( this.$store.getters.selectedImage == 'Top') {
                    return 'computeImageAlignment imageAlignCorners--TopRightTop'
                  } else if ( this.$store.getters.selectedImage == 'Right') {
                    return 'imageAlignCorners--TopRightRight imageHeight--200'
                  } else if ( this.$store.getters.selectedImage == 'Left') {
                    return 'imageAlignCorners--TopRightLeft imageHeight--200'
                  } else if ( this.$store.getters.selectedImage == 'None') {
                    console.log('none')
                  }
                }
              if (this.$store.getters.currentPopupPosition.text == 'Bottom right'){
                if ( this.$store.getters.selectedImage == 'Top') {
                    return 'computeImageAlignment imageAlignCorners--BottomRightTopExtra'
                  } else if ( this.$store.getters.selectedImage == 'Right') {
                    return 'imageAlignCorners--BottomRightRight imageHeight--200'
                  } else if ( this.$store.getters.selectedImage == 'Left') {
                    return 'imageAlignCorners--BottomLeftLeft imageHeight--200'
                  } else if ( this.$store.getters.selectedImage == 'None') {
                    console.log('none')
                  }
                }
              if (this.$store.getters.currentPopupPosition.text == 'Bottom left'){
                if ( this.$store.getters.selectedImage == 'Top') {
                    return 'computeImageAlignment imageAlignCorners--BottomLeftTopExtra'
                  } else if ( this.$store.getters.selectedImage == 'Right') {
                    return 'imageAlignCorners--BottomLeftRight imageHeight--200'
                  } else if ( this.$store.getters.selectedImage == 'Left') {
                    return 'imageAlignCorners--BottomLeftLeft imageHeight--200'
                  } else if ( this.$store.getters.selectedImage == 'None') {
                    console.log('none')
                  }
                }
              }
          }
        }

          if (this.$store.getters.currentPopupType == 'Full Screen') {
            if ( this.$store.getters.selectedImage == 'Background') {
                return 'imageAlignFullScreen'
              } else  {
                return 'none'
              }
          }

          // If One Third
          if (this.$store.getters.currentPopupType == 'One Third') {
            if ( this.$store.getters.selectedImage == 'Background') {
                return 'imageAlignOneThird'
              } else  {
                return 'none'
              }
          }
        },
        selectedImage () {
            return this.$store.getters.selectedImage
        },
        moveBrowserPopUp () {
          if (this.$store.getters.currentPopupType == 'Center') {
            if ( this.$store.getters.selectedImage == 'Top') {
                return 'popupMargin--ImgTop'
            } else if ( this.$store.getters.selectedImage == 'Right') {
                return 'popupMargin--ImgRight'
            } else if ( this.$store.getters.selectedImage == 'Left') {
                return 'popupMargin--ImgLeft'
            } else if ( this.$store.getters.selectedImage == 'None') {
              console.log('none')
            }
          }

          if (this.$store.getters.currentPopupType == 'Corners') {

            if (this.$store.getters.currentPopupPosition != null) {
            // Depending on what corner adapt the browswer margin
            if (this.$store.getters.currentPopupPosition.text == 'Top left'){
                // Popup does have extra text field
                if (this.$store.getters.showTextField2 == false){
                  if ( this.$store.getters.selectedImage == 'Top') {
                      return 'popupMargin--ImgTop  '
                  } else if ( this.$store.getters.selectedImage == 'Right') {
                      return ''
                  } else if ( this.$store.getters.selectedImage == 'Left') {
                      return 'popupMargin--ImgLeftCorners'
                  } else if ( this.$store.getters.selectedImage == 'None') {
                    console.log('none')
                  }
                }

                if (this.$store.getters.showTextField2 == true){
                  if ( this.$store.getters.selectedImage == 'Top') {
                      return 'height--40 popupMargin--ImgTopCorners'
                  } else if ( this.$store.getters.selectedImage == 'Right') {
                      return 'height--40'
                  } else if ( this.$store.getters.selectedImage == 'Left') {
                      return 'popupMargin--ImgLeftCorners height--40'
                  } else if ( this.$store.getters.selectedImage == 'None') {
                    console.log('none')
                  }
                }

              }


            // Depending on what corner adapt the browswer margin
            if (this.$store.getters.currentPopupPosition.text == 'Top right'){
                // Popup does have extra text field
                if (this.$store.getters.showTextField2 == false){
                  if ( this.$store.getters.selectedImage == 'Top') {
                      return 'popupMargin--ImgTop  '
                  } else if ( this.$store.getters.selectedImage == 'Right') {
                      return 'position--ToprightRight'
                  } else if ( this.$store.getters.selectedImage == 'Left') {
                      return 'position--ToprightLeft'
                  } else if ( this.$store.getters.selectedImage == 'None') {
                    console.log('none')
                  }
                }

                if (this.$store.getters.showTextField2 == true){
                  if ( this.$store.getters.selectedImage == 'Top') {
                      return 'height--40 popupMargin--ImgTopCorners'
                  } else if ( this.$store.getters.selectedImage == 'Right') {
                      return 'position--ToprightRight height--40'
                  } else if ( this.$store.getters.selectedImage == 'Left') {
                      return 'position--ToprightLeft height--40'
                  } else if ( this.$store.getters.selectedImage == 'None') {
                    console.log('none')
                  }
                }

              }
            // Depending on what corner adapt the browswer margin
            if (this.$store.getters.currentPopupPosition.text == 'Bottom right'){
                // Popup does have extra text field
                if (this.$store.getters.showTextField2 == false){
                  if ( this.$store.getters.selectedImage == 'Top') {
                      return 'popupMargin--ImgTop  '
                  } else if ( this.$store.getters.selectedImage == 'Right') {
                      return 'position--BottomrightRight'
                  } else if ( this.$store.getters.selectedImage == 'Left') {
                      return 'position--BottomrightLeft'
                  } else if ( this.$store.getters.selectedImage == 'None') {
                    console.log('none')
                  }
                }

                if (this.$store.getters.showTextField2 == true){
                  if ( this.$store.getters.selectedImage == 'Top') {
                      return 'height--40 popupMargin--ImgTopCorners'
                  } else if ( this.$store.getters.selectedImage == 'Right') {
                      return 'position--BottomrightRight height--40'
                  } else if ( this.$store.getters.selectedImage == 'Left') {
                      return 'position--BottomrightLeft height--40'
                  } else if ( this.$store.getters.selectedImage == 'None') {
                    console.log('none')
                  }
                }

              }
            // Depending on what corner adapt the browswer margin
            if (this.$store.getters.currentPopupPosition.text == 'Bottom left'){
                // Popup does have extra text field
                if (this.$store.getters.showTextField2 == false){
                  if ( this.$store.getters.selectedImage == 'Top') {
                      return 'popupMargin--ImgTop  '
                  } else if ( this.$store.getters.selectedImage == 'Right') {
                      return 'position--BottomrightRight'
                  } else if ( this.$store.getters.selectedImage == 'Left') {
                      return 'position--BottomleftLeft'
                  } else if ( this.$store.getters.selectedImage == 'None') {
                    console.log('none')
                  }
                }

                if (this.$store.getters.showTextField2 == true){
                  if ( this.$store.getters.selectedImage == 'Top') {
                      return 'height--40 popupMargin--ImgTopCorners'
                  } else if ( this.$store.getters.selectedImage == 'Right') {
                      return 'position--BottomrightRight height--40'
                  } else if ( this.$store.getters.selectedImage == 'Left') {
                      return 'position--BottomleftLeft height--40'
                  } else if ( this.$store.getters.selectedImage == 'None') {
                    console.log('none')
                  }
                }

              }
            }

        }
        if (this.$store.getters.currentPopupType == 'One Third') {

          if (this.$store.getters.currentPopupPosition != null) {
            // Depending on what corner adapt the browswer margin
            if (this.$store.getters.currentPopupPosition.text == 'Top'){

            }
            if (this.$store.getters.currentPopupPosition.text == 'Bottom'){

            }
          }
        }
      },
      currentBrowserPageBg () {
        this.$store.getters.currentBrowserPageBg
      },
      currentOverlayBg () {
        return this.$store.getters.currentOverlayBg
      },
      overlayBg (){
        if (this.$store.getters.currentPopupType == 'Center') {
          if( this.currentOverlayBg != null ){
            if (this.currentOverlayBg.text == 'Dark'){
                this.showCloseButton = true
                return 'bg--dark'
            } else if (this.currentOverlayBg.text == 'Light'){
                this.showCloseButton = true
                return 'bg--light'
            } else if (this.currentOverlayBg.text == 'Blur'){
                this.showCloseButton = true
                return 'bg--blur'
            } else if (this.currentOverlayBg.text == 'None') {
                this.showCloseButton = false
                return 'None'
            }
          }
        }
      },
      loading() {
        return this.$store.getters.loading
      }

        // Do an extra computed class for Browser popup .popupMargin--ImgTop

    },
    created() {
      EventBus.$on('resetAllColors', (data)=> {
          this.colors.hex = data
      })
      EventBus.$on('showCloseButton', (data)=> {
          this.showCloseButton = true
      })
    }
}
</script>

<style lang="css">

.preview-container {
  padding:30px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.preview-browser {
    width: 450px;
    height:350px;
    /* padding: 6px 7px; */
    border-radius: 3px;
    /* background-image: linear-gradient(-180deg,#fafbfc,#f1f4f7); */
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    /* box-shadow: 0 3px 20px rgba(0,0,0,.08); */
    margin: 65px 30px 30px -110px;
    border-radius: 3px;
    background-color: white;
}

.preview-noBrowser {
  width: 450px;
  height:350px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.height--auto {
  height: auto!important;
}

.preview-fields {
  width: 50%;
}

.advanced-options {
  color: #0065ff;
  float: right;
  cursor: pointer;
}

.browser-bar {
  height: 24px;
  padding: 2px 8px;
  display: flex;
    margin-top: 0px;
    padding-top: 7px;
}

.browser-bar i {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 4px;
    border-radius: 50%;
}

.browser-bar i:nth-child(1) {
  background-color: #ff554e;
}
.browser-bar i:nth-child(2) {
  background-color: #ffb429;
}
.browser-bar i:nth-child(3) {
  background-color: #25c439;
}

.browser-page {
  height:400px;
  position: relative;
  text-align: center;
}

.browser__popup {
  width:220px;
  background-color:#001034;
  color: white;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  padding: 10px;
  height: 170px;
}

.preview__button {
    line-height: 21px;
    height: 20px;
    padding: 0 9px;
    margin: auto;
    margin-top: 5px;
    border-radius: 1px;
    width: 90px;
    background-color: #00cc47;
    font-size: 12px;
    /* box-shadow: 0 4px 6px rgba(50,50,93,.9), 0 1px 3px rgba(0,0,0,.9); */
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.preview__button--oneLiner {
    margin: 0;
}

.palette-advanced-animation {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation: FadeIn .5s linear forwards;
  opacity: 0;
}

.palette-container {
    display: flex;
    align-items: center;
}

.palette-selector {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.palette-underlay {
  background: grey;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

.palette-colorpicker {
  z-index: 3000;
  position: fixed;
  top: 40%;
  left: 42%;
}

.oneLinerFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*  One third grid CSS  */
.oneThirdGrid {
  display: -ms-grid;
display: grid;
  -ms-grid-columns: 1fr;
     grid-template-columns: 1fr;
 -ms-grid-rows: 30px 30px 30px 30px;
     grid-template-rows: 30px 30px 30px 30px;
 position: relative;
}

.oneThirdGrid-H2 {
    -ms-grid-row: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.oneThirdGrid-H4 {
  -ms-grid-row: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.oneThirdGrid-PreviewInput {
  display: flex;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  margin-left: 70px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.oneThirdGrid-PreviewBtn {
  -ms-grid-row: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  position: absolute;
  margin-left: 260px;
}

/*  Preview input fields settings  */
.preview__input :nth-last-child(1){
    margin-bottom: 15px;

}
.fake-input {
  background-color: white;
  width: 90px;
  color:#001034;
  display: flex;
  margin-top:2px;
  flex-direction:column;
  height: 20px;
  margin: auto;
  /* margin-top: 5px; */
  /* margin-left: 5px; */
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation: FadeIn .5s linear forwards;
  opacity: 0;
  cursor: pointer;

}

.fake-input :nth-last-child {
  margin-bottom: 25px;
}

/*  TYPE SETTINGS */
.type--Center {
  position: absolute;
  margin: auto;
  top: 50px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 200px;
  /* box-shadow: 0px 10px 60px black; */
}
.type--OneLiner {
  height:50px;
  position: absolute;
  width: 100%;
  bottom: 0;

}
.type--FullScreen {
    position: absolute;
    height:100%;
    width:100%;
    padding-top: 20%;
      z-index: 1;
}

.type--OneThird {
  height:100px;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.minHeight {
  height:160px;
}

.height--40 {
  height: 200px;
}

.height--60 {
  height: 220px;
}

/*  POSITION SETTINGS */

/*  Corners settings  */
.position--Bottomright {
  position: absolute;
  bottom: 0;
  right:0;
  min-height: 170px;
}
.position--Bottomleft {
  position: absolute;
  bottom: 0;
  left:0;
  min-height: 170px;
}
.position--Topright {
  position: absolute;
  top: 0;
  right:0;
  min-height: 170px;
}
.position--Topleft {
  position: absolute;
  top: 0;
  left:0;
  min-height: 170px;
}

.position--ToprightRight {
  position: absolute;
  top: 0;
  right:100px;
  min-height: 170px;
}
.position--BottomrightRight {
  position: absolute;
  right:100px;
  min-height: 170px;
}
.position--BottomrightLeft {
  position: absolute;
  right: 0px;
  min-height: 170px;
}
.position--BottomleftLeft {
  position: absolute;
  left: 100px;
  min-height: 170px;
}
.position--ToprightRi {
  position: absolute;
  top: 0;
  right:100px;
  min-height: 170px;
}
.position--ToprightLeft {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 170px;
}


.imageAlignCorners--TopLeftLeft {
    height: 170px;
    width: 100px;
    background: red;
    position: absolute;
    top: 0;
    background: url(https://placeimg.com/100/200/nature) no-repeat;
  }
.imageAlignCorners--TopRightLeft {
    height: 170px;
    width: 100px;
    background: red;
    position: absolute;
    top: 0;
    left:130px;
    background: url(https://placeimg.com/100/200/nature) no-repeat;
  }
.imageAlignCorners--BottomRightLeft {
    height: 170px;
    width: 100px;
    background: red;
    position: absolute;
    bottom: 0;
    left:130px;
    background: url(https://placeimg.com/100/200/nature) no-repeat;
  }
.imageAlignCorners--BottomRightRight {
    height: 170px;
    width: 100px;
    background: red;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(https://placeimg.com/100/200/nature) no-repeat;
  }
.imageAlignCorners--BottomLeftLeft {
    height: 170px;
    width: 100px;
    background: red;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(https://placeimg.com/100/200/nature) no-repeat;
  }
.imageAlignCorners--BottomLeftRight {
    height: 170px;
    width: 100px;
    background: red;
    position: absolute;
    bottom: 0;
    left:220px;
    background: url(https://placeimg.com/100/200/nature) no-repeat;
  }
.imageAlignCorners--TopLeftRight {
    height: 170px;
    width: 100px;
    background: red;
    position: absolute;
    top: 0;
    margin-left: 220px;
    background: url(https://placeimg.com/100/200/nature) no-repeat;
  }
.imageAlignCorners--TopRightRight {
    height: 170px;
    width: 100px;
    background: red;
    position: absolute;
    top: 0;
    right: 0;
    /* margin-left: 220px; */
    background: url(https://placeimg.com/100/200/nature) no-repeat;
  }
.imageAlignCorners--TopLeftTop {
    height: 100px;
    width: 100px;
    background: red;
    position: absolute;
    top: 0;
    background: url(https://placeimg.com/220/100/nature) no-repeat;
  }
.imageAlignCorners--TopRightTop {
    height: 100px;
    width: 100px;
    background: red;
    position: absolute;
    top: 0;
    right:0;
    background: url(https://placeimg.com/220/100/nature) no-repeat;
  }
.imageAlignCorners--BottomRightTop {
    height: 100px;
    width: 100px;
    background: red;
    position: absolute;
    top: 60px;
    right:0;
    background: url(https://placeimg.com/220/100/nature) no-repeat;
  }
.imageAlignCorners--BottomRightTopExtra {
    height: 100px;
    width: 100px;
    background: red;
    position: absolute;
    top: 30px;
    right:0;
    background: url(https://placeimg.com/220/100/nature) no-repeat;
  }
.imageAlignCorners--BottomLeftTop {
    height: 100px;
    width: 100px;
    background: red;
    position: absolute;
    top: 60px;
    left:0;
    background: url(https://placeimg.com/220/100/nature) no-repeat;
  }
.imageAlignCorners--BottomLeftTopExtra {
    height: 100px;
    width: 100px;
    background: red;
    position: absolute;
    top: 30px;
    left:0;
    background: url(https://placeimg.com/220/100/nature) no-repeat;
  }

.imageAlignFullScreen {
  height: 329px; /* modified -1px */
  width: 450px;
  background: red;
  position: absolute;
  left: 0px;
  background: url(https://placeimg.com/460/460/nature) no-repeat;
  overflow: hidden;
  z-index: 0;
}

.moveBrowserPopUpCorners--TopLeft {
    margin-left: 100px;
}

.imageAlignOneThird {
    height: 100px;
    width: 450px;
    position: absolute;
    left: 0px;
    background: url(https://placeimg.com/450/100/nature) no-repeat;
    overflow: hidden;
    z-index: 0;
    bottom: 0;
}

/*  One liner AND One third settings  */
.position--Top {
  position: absolute;
  top: 0;
}
.position--Bottom {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.computeImageAlignment {
    /* background: #001034; */
    width: 220px;
}

.imageAlign--Top {
    margin: auto;
    margin-top: 20px;
    height: 90px;
    background: url(https://placeimg.com/220/90/nature) no-repeat;
}

.imageAlign--Left {
    position: absolute;
    margin: auto;
    top: 65px;
    width: 120px;
    height: 200px;
    left: 60px;
    background: url(https://placeimg.com/120/220/any) no-repeat;

}

.imageAlign--Right {
    position: absolute;
    margin: auto;
    top: 65px;
    width: 120px;
    height: 200px;
    left: 270px;
    background: url(https://placeimg.com/120/220/any) no-repeat;

}

.imageHeight--200 {
  height: 200px!important;
}

.imageHeight--220 {
  height: 220px!important;
  margin-top: -10px;
}

.popupMargin--ImgTop {
    margin: auto;
    margin-top: 100px;
}

.popupMargin--ImgLeft {
    left: 130px;
}

.popupMargin--ImgLeftCorners {
    left: 100px;
}

.popupMargin--ImgTopCorners {
    margin-top: 100px;
}

.popupMargin--ImgRight {
    left: -120px;
}

/* Overlay background */
.bg--dark {
  height: 100vh;
  width: 100%;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    -webkit-transition: .5s cubic-bezier(.25,.8,.5,1);
    transition: .5s cubic-bezier(.25,.8,.5,1);
    z-index: 5;
    opacity: .46;
    background: black;
}

.bg--light {
  height: 100vh;
  width: 100%;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    -webkit-transition: .5s cubic-bezier(.25,.8,.5,1);
    transition: .5s cubic-bezier(.25,.8,.5,1);
    z-index: 5;
    opacity: .46;
    background: white;
}

.bg--blur {
  height: 100vh;
  width: 100%;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    -webkit-transition: .5s cubic-bezier(.25,.8,.5,1);
    transition: .5s cubic-bezier(.25,.8,.5,1);
    z-index: 5;
    opacity: .46;
    background: white;

  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
}

.x-size {
  font-size: 2rem;
  margin-right: 8px;
}

.index-top {
  z-index: 999;
}

.close-button {
    position: fixed;
    top: 5%;
    left: 50%;
}


@keyframes fadeInUp {
    from {
        transform: translate3d(0,5px,0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

</style>
