<template>
   <div class="alert-absolute">
        <v-alert type="warning"  @input="onClose"  v-model="alert" transition="scale-transition">
             {{ text }}
        </v-alert>
   </div>
 
</template>

<script>
  export default {
    props: ['text'],
    data () {
        return {
            alert: true
        }
    },
    methods: {
      onClose () {
        this.alert = false
      }
    }
  }
</script>

<style>

.alert-absolute {
    position: fixed;
    top: 0;
    width: 800px;
}
</style>

