<template>
    <v-btn outline fab color="grey" class="go-back-button" @click="previousStep">
      <v-icon>chevron_left</v-icon>
    </v-btn>
</template>

<script>
export default {
    data() {
        return {

        }
    },
    methods: {
        previousStep () {
            this.$store.dispatch('previousStep')
        }
    }   
}
</script>

<style scoped>
.go-back-button {
    position: fixed;
    left: 20px;
    top: 20px;
}

</style>
