<template>
    <div>
        <v-layout>
            <v-flex xs12 class="text-xs-center loading--styles">
                <v-progress-circular indeterminate color="primary"></v-progress-circular>
            </v-flex>
        </v-layout>
    </div>
</template>
<script>
export default {
    data () {
        return {

        }
    },
    computed: {
        
    }

}
</script>

<style scoped>
.loading {
        height: 542px;
}

.loading--styles {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 542px;
}
</style>

