<template lang="html">
      <div>
        <!-- <go-back-button ></go-back-button> -->
        <!--  Form Page  -->
        <v-layout>
          
          <!--  Form  -->
          <v-flex md8 class="container-step3">
            <div class="main-form">
              <show-alert v-if="triggerErrorTiming" :text="'You must enter a timing for your popup'" />
              <show-alert v-if="triggerErrorUrl" :text="'You must enter your website URL'" />
              <app-preview></app-preview>
              <app-footer></app-footer>
            </div>
          </v-flex>

          <!--  Progress Bar  -->
          <v-flex md4 class="progress-bar">
            <app-progress></app-progress>
          </v-flex>

        </v-layout>
      </div>
</template>

<script>
export default {
   computed: {
    triggerErrorTiming () {
      return this.$store.getters.showErrorTiming
    },
    triggerErrorUrl () {
      return this.$store.getters.showErrorUrl
    }
  }
}
</script>

<style lang="css">

.progress-bar {
  display: flex;
  height:100vh;
  background-color: #001034;
}

.container-step3 {
  /* background-color: #f9f9f9; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-form {
  background-color: #F7F9FA;
  width:800px;
  height: 600px;
  margin-right: -30%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

@media screen and (min-width: 1700px) {
  .main-form {
    width:1000px;
  }
}
</style>
