<template lang="html">
  <div class="">
    <!-- <go-back-button ></go-back-button> -->
    <v-container class="mx-auto container-flex">
      
      <!--  Title  -->
      <v-layout>
        <v-flex>
          <p class="fiverrr-name text-xs-center">{{ name }}</p>
        </v-flex>
      </v-layout>

      <!--  Sub-Title  -->
      <v-layout row wrap>
         <v-flex xs12 class="mx-auto">
           <p class="item-text">Choose the tone you would like your popup to have, through a selection of font styles.</p>
         </v-flex>
      </v-layout>

      <!--  Font cards -->
      <v-container grid-list-md text-xs-center>
         <v-layout row wrap>
           <v-flex class="item " xs12 sm6 v-for="(font, index) in fonts" @click="nextStep(index)">
             <v-card  ripple class="font-card pa-4" :style="{ 'font-family': font.fontFamily }" >
               <div class="fonts">
                 <div class="item-title">
                       {{ font.title }}
                 </div>
               </div>

               <v-card-text class="px-0 item-text">{{ font.description }}</v-card-text>
             </v-card>
           </v-flex>
         </v-layout>
       </v-container>

       <!--  Font We select the right one for you -->
       <v-container grid-list-md text-xs-center>
          <v-layout row wrap>
            <v-flex class="item " xs12 sm6 @click="nextStep()">
              <v-card  ripple class="font-card pa-4">
                <div class="fonts">
                  <div class="item-title">
                       <div class="item-img">
                         <img src="@/assets/browser-xs.png" alt="">
                       </div>
                  </div>
                </div>

                <v-card-text class="px-0 item-text">Let us choose the right font combination from your website.</v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>

    </v-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      selectedFontStyle: null,
      fonts: [
        {
          imageUrl: '',
          id: 'ssmf',
          fontFamily: 'Montserrat,sans-serif',
          title: 'Friendly',
          description: 'Select "Friendly" if you want your pop up to have a kind and pleasant personality.'
        },
        {
          imageUrl: '',
          id: 'hlfss',
          fontFamily: '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"',
          title: 'Neutral',
          description: 'Select "Neutral" if you want your pop up to be straight to the point, and highly legible.'
        },
        {
          imageUrl: '',
          id: 'pcltf',
          fontFamily: 'Poppins,sans-serif',
          title: 'Modern',
          description: 'Select "Modern" if you want your pop up to have a trendy, clean, & Modern personality.'
        },
        {
          imageUrl: '',
          id: 'snrh',
          fontFamily: 'Eczar,serif',
          title: 'Serious',
          description: 'Select "Serious" if you want your pop up to be bold, & demand the viewers attention.'
        },
        {
          imageUrl: '',
          id: 'eieb',
          fontFamily: 'Spectral,serif',
          title: 'Elegant',
          description: 'Select "Elegant" if you want your pop up to have a mature, classic, & stylish personality.'
        },
        {
          imageUrl: '',
          id: 'ecfn',
          fontFamily: 'Roboto Mono,monospace',
          title: 'Hacker',
          description: 'Select "Hacker" for a pop up to be appeal to a tech crowd.'
        }
      ]
    }
  },
  computed: {
    name () {
      return this.$store.getters.name
    },
  },
  methods: {
    nextStep (index) {
      console.log(index)
      if(index || index === 0) {
        console.log('in')
        this.selectedFontStyle = this.fonts[index].title
      } else {
        this.selectedFontStyle = 'Let us choose the right font for you'
      }

      this.$store.dispatch('selectedFontStyle', this.selectedFontStyle)
      return this.$store.dispatch('nextStep')
    }
  }
}
</script>

<style lang="css">
.step-container {
  /* background: #f7f9fa; */
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.container--empty {
    transform: translate3d(0,calc(50vh - 130px),0);
    background: transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.container-flex  {
  display: flex;
  flex-direction: column;
}

.container {
    max-width: 780px;
    width: 100%;
    border-radius: 3px;
    /* text-align: center; */
    /* background: #f7f9fa; */
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    flex: 1;
}

.fiverrr-name {
    width: 700px;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
}

.fonts {
  display: inline-flex;
}

.item-title {
    margin: 30px 20px 10px;
    display: inline-block;
    height: 80px;
    font-size: 50px;
    font-weight: 700;
    border-radius: 50%;
    border-top-left-radius: 50%!important;
    border-top-right-radius: 50%!important;
}

.item-text {
  padding: 20px;
  text-align: center;
  opacity: 0.5;
}

.font-card {
  transition: all .3s ease-in-out;
}

.font-card:hover {
  border-radius: 3px;
  transition: all .3s ease-in-out;
  transform: translateY(-4px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  cursor: pointer;
}

</style>
