<template>
  <v-container class="mx-auto">
      
    
      <v-layout>
        <div v-bind:class="[userTyped ? 'container-name' : 'container--empty']">

           <!-- Input Field -->
           <v-layout row>
            <v-flex class="mx-auto ">
                
                  
                
                <div center class="fadeInUp flex flex-baseline flex-justify-center">
                  <!-- <div class="hi-text">
                    Hi,
                  </div> -->
                  <p class="top-paragraph display-none"
                     :class="[userTyped ? 'hi-class' : 'hidden']">Hi </p>
                  <input
                      size="10"
                      v-model="fiverrName"
                      autofocus="autofocus"
                      type="text"
                      placeholder="What's your first name?"
                      class="project-input animated fadeInUp"
                      v-bind:class="[userTyped ? 'width-auto' : '']">
                </div>
              </v-flex>
            </v-layout>
            <div v-if="userTyped" class="mb-4">
              <v-layout row wrap>
                <p class="display-none mx-auto"
                         :class="[userTyped ? 'subtitle-class item-text' : 'hidden']">
                         Help me understand the popup vibe you want. (These won't be the final colors)
                </p>
              </v-layout>
            </div>
           

           <!-- Color Cards -->
           <v-container grid-list-md text-xs-center v-if="userTyped">
              <v-layout row wrap>
                <v-flex class="item" xs12 sm4 v-for="(color, index) in colors"  @click="nextStep(index)" :key="color.id">
                  <v-card  ripple class="color-card" >
                    <div class="colors">
                      <div class="item-color"
                            v-for="(hex, index) in color.hexs"
                            :key="index"
                            :style="{ 'background': hex }"
                            >
                      </div>
                    </div>

                    <v-card-text class="px-0 item-text">{{ color.title }}</v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>

            <!-- Color Cards 'pick from wesbite' -->
            <v-container grid-list-md text-xs-center v-if="userTyped">
               <v-layout row wrap>
                 <v-flex class="item" xs12 sm4 @click="nextStep()">
                   <v-card  ripple class="color-card">
                     <div class="colors">
                       <div class="item-img">
                         <img src="@/assets/browser-xs.png" alt="">
                       </div>
                     </div>

                     <v-card-text class="px-0 item-text">Let me pick the vibe according to your website</v-card-text>
                   </v-card>
                 </v-flex>
               </v-layout>
             </v-container>

        </div>
      </v-layout>
    </v-container>
</template>

<script type="text/javascript">
  export default {
      data () {
        return {
            fiverrName: '',
            selectedVibe:'',
            colors: [
            {
              imageUrl: '',
              id: 'ssmf',
              hexs: ['#4736ca','#27224f','#000'],
              title: 'Sleek, Sophisticated, Mature & Formal'
            },
            {
              imageUrl: '',
              id: 'hlfss',
              hexs: ['#00cc47','#041029','#0065ff'],
              title: 'Honest, Loyal, Friendly, Stable, & Strong'
            },
            {
              imageUrl: '',
              id: 'pcltf',
              hexs: ['#297afb','#2898fb','#01d8fd'],
              title: 'Peaceful, Limitless, Tranquil, & Friendly'
            },
            {
              imageUrl: '',
              id: 'snrh',
              hexs: ['#2050d3','#d44125','#f24a2a'],
              title: 'Spontaneous, Energitic, & Friendly'
            },
            {
              imageUrl: '',
              id: 'eieb',
              hexs: ['#666663','#e0c295','#f2dec5'],
              title: 'Earthly, Solid, Natural, & Energetic'
            },
            {
              imageUrl: '',
              id: 'ecfn',
              hexs: ['#353740','#f5870a','#f5ca0a'],
              title: 'Cheerful, Happy, Bold, & Vibrant'
            }
          ],
        }
      },
       watch: {
         fiverrName() {
            return this.$store.dispatch('username', this.fiverrName)
         }
       },
      computed: {
          userTyped () {
            if (this.fiverrName.length > 0) {
              return true
            } else {
              return false
            }
          },
          hiName (){
            return 'Hi '+ this.fiverrName
          }
      },
      methods: {
        setName () {
          this.$store.dispatch('setUser', this.fiverrName)
        },
        nextStep (index ) {
          if(index || index == 0) {
            this.selectedVibe = this.colors[index].title
          } else {
            this.selectedVibe = 'Pick from website'
          }
          this.$store.dispatch('selectedVibe', this.selectedVibe)
          this.$store.dispatch('nextStep')
        }
      },
      created (){
        // let stretchy = document.createElement('script');    
        // stretchy.setAttribute('src',"stretchy.js");
        // document.head.appendChild(stretchy);
        console.log(this.colors[0])
      }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.width-auto {
    /* width: 10%!important;
    margin-right: -20px;
    margin-left: auto!important; */
    color: #228EFA;
    font-size: 24px;
}
.flex-baseline {
    display: flex;
    align-items: baseline;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.hidden {
  opacity: 0;
}

.step-container {
  background: #f7f9fa;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.container--empty {
    transform: translate3d(0,calc(50vh - 130px),0);
    background: transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin: auto;
}

.container-name {
    max-width: 780px;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    /* background: #f7f9fa; */
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-paragraph {
    font-size: 19px;
    font-weight: 500;
}

.project-input {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    text-align: left;
    outline: none;
    /* width: 700px; */
    font-size: 19px;
    font-weight: 500;
    transition: all .3s ease-in-out;
    animation: fadeInUp;
    margin-left: 7px;
    min-width: 1px;
}

.container--empty .project-input {
    font-size: 50px;
    font-weight: 400;
    color: #061027;
    line-height: 1.4;
    font-family: Brown-Regularalt-S,-apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    min-width: 580px!important;
}

.colors {
  display: inline-flex;
}

.item-color {
    margin: 30px 20px 10px;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
        /* background: #297afb; */
    border-top-left-radius: 50%!important;
    border-top-right-radius: 50%!important;
}

.item-img img {
    width: 70%;
    margin-top: 30px;
}

.color-card {
  transition: all .3s ease-in-out;
}

.color-card:hover {
  border-radius: 3px;
  transition: all .3s ease-in-out;
  transform: translateY(-4px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.item-color:nth-child(2) {
    margin-left: -60px;
}
.item-color:nth-child(3) {
    margin-left: -60px;
}

.item-text {
    line-height: 1.5;
    padding: 30px 45px;
    opacity: 0.5;
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.item {
    margin-bottom: 10px;
    cursor: pointer;
    animation: FadeIn .5s linear forwards;
    opacity: 0;
}

.hi-class {
    opacity: 0;
    display: block;
    animation: FadeIn .5s linear forwards;
    animation-delay: .5s
}

.subtitle-class {
  opacity: 0;
  display: block;
  animation: FadeInLowOpacity .5s linear forwards;
  animation-delay: .5s;
}

input {
  min-width: 1px!important;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0,20px,0);
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes FadeInLowOpacity {
  0% {
    opacity: 0;
    transform: translate3d(0,20px,0);
  }

  85% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.5;
    transform: translate3d(0,0,0);
  }
}
.item:nth-child(1) { animation-delay: .5s }
.item:nth-child(2) { animation-delay: .6s }
.item:nth-child(3) { animation-delay: .7s }
.item:nth-child(4) { animation-delay: .8s }
.item:nth-child(5) { animation-delay: .9s }
.item:nth-child(6) { animation-delay: 1s }
.item:nth-child(7) { animation-delay: 1.1s }


@keyframes FadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-20px,0px,0px);
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}




</style>
