<template>
      <v-container>

        <v-layout row wrap mb-4 justify-center>
         <v-flex xs5 mr-1>
            <v-card color="grey darken-2" class="white--text">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs7>
                    <div>
                      <div class="headline">{{ countPopups }} Popups</div>
                      <div>Last added: </div>
                    </div>
                  </v-flex>
                  <v-flex xs5>
                    <v-card-media
                      src="/static/doc-images/cards/foster.jpg"
                      height="125px"
                      contain
                    ></v-card-media>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
          <v-flex xs5>
            <v-card color="cyan darken-2" class="white--text">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs7>
                    <div>
                      <div class="headline">Supermodel</div>
                      <div>Foster the People</div>
                    </div>
                  </v-flex>
                  <v-flex xs5>
                    <v-card-media
                      src="/static/doc-images/cards/foster.jpg"
                      height="125px"
                      contain
                    ></v-card-media>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
        </v-layout>



      <v-layout row wrap>
        <v-flex  xs10 offset-xs1>
          <v-card class="info mb-2" v-for="popup in popups" :key="popup.id">
            <v-container fluid >
              <v-layout row>
                <v-flex xs5 sm4 md3>
                  <v-card-media
                  :src="popup.data.imageUrl"
                  height="130px"
                  >
                  </v-card-media>
                </v-flex>
                <v-flex xs7 sm8 md9>
                  <v-card-title primary-title>
                    <div class="">
                      <h4 class="white--text mb-0">{{ popup.name }}</h4>
                      <!-- <div class="">{{ meetup.date | date }}</div> -->
                    </div>
                  </v-card-title>
                  <v-card-actions>
                    <v-btn flat :to="'/popups/' + popup.id">
                      <v-icon left>arrow_forward</v-icon>
                      View Popup
                    </v-btn>
                  </v-card-actions>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
</template>

<script>
export default {
    computed: {
        popups () {
            return this.$store.getters.loadedPopups
        },
        countPopups() {
          return this.$store.getters.loadedPopups.length
        }
    }
    
}
</script>
