<template>
    <div class="">
    <v-container>
      <v-layout row wrap>
        <v-flex xs12 class="text-xs-center">

        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card>
            <v-card-title>
              <h5 class="primary--text"> {{ popup.data.websiteUrl }} </h5>
            </v-card-title>
            <v-card-media
                    :src="popup.data.imageUrl"
                    height="400px"
                    >
                    </v-card-media>
                    <v-card-text>
                      <v-tabs
              v-model="active"
              color="cyan"
              dark
              slider-color="yellow"
            >
              <v-tab
                v-for="n in 5"
                :key="n"
                ripple
              >
                Step {{ n }}
              </v-tab>

              <v-tab-item
                :key="1">
                <v-card flat>
                  <v-card-text>

                    <h1>Introduction</h1>
                      <v-list two-line>
                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title v-html="this.popup.data.PopUpTitle"></v-list-tile-title>
                            </v-list-tile-content>
                          </v-list-tile>

                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title v-html="this.popup.data.advancedSelected"></v-list-tile-title>
                            </v-list-tile-content>
                          </v-list-tile>

                      </v-list>



                  </v-card-text>
                </v-card>
              </v-tab-item>

              <v-tab-item
                :key="2">
                <v-card flat>
                  <v-card-text> 

                    <h1>The Basics</h1>

                       <v-list two-line>
                        <template>
                         
                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>Background color of the popup:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.popupBackgroundColor"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>

                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>Browser Background color:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.browserPageBg"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>

                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>Format:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.currentPopupType"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>

                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>Position:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.popupPosition"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>

                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>Display animation:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.PopUpAnimation.text"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>

                        </template>
                      </v-list>


                  </v-card-text>
                </v-card>
              </v-tab-item>

               <v-tab-item
                :key="3">
                <v-card flat>
                  <v-card-text>
                    <h1>Content and fields</h1>

                    <v-list two-line>
                        <template>

                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>Title:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.popupTitle"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>

                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>SubTitle:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.popUpSubTitle"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>
                          
                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>Advanced Selected:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.advancedSelected"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>

                           <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>Title Color:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.popUpTitleColor"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>

                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>SubTitle Color:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.popUpSubTitleColor"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>

                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>TextField 1:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.textField1"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>

                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>TextField 2:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.textField2"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>
                      
                      </template>
                    </v-list>
                        


                  </v-card-text>
                </v-card>
              </v-tab-item>

               <v-tab-item
                :key="4">
                <v-card flat>
                   <v-card-text>
                    <h1>Image Options</h1>

                    <v-list two-line>
                        <template>

                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>Image Position:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.selected"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>
                          
                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>Background opacity [missing]:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.advancedSelected"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>

                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>[If center only] Overlay Background:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.overlayBg"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>

                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>Image Notes:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.imageNotes"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>
                      
                      </template>
                    </v-list>
                        


                  </v-card-text>
                </v-card>
              </v-tab-item>

               <v-tab-item
                :key="5">
                <v-card flat>
                   <v-card-text>
                    <h1>Finishing touches</h1>

                    <v-list two-line>
                        <template>

                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>Display popup:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.popupDisplayTiming.text"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>
                          
                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>Website URL:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.websiteUrl"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>

                          <v-list-tile>
                            <v-list-tile-content>
                              <v-list-tile-title>Last Notes:</v-list-tile-title>
                              <v-list-tile-sub-title v-html="popup.data.lastNotes"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-divider></v-divider>
                      
                      </template>
                    </v-list>
                        


                  </v-card-text>
                </v-card>
              </v-tab-item>

            </v-tabs>

            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
    props: ['id'],
      computed: {
        popup () {
            return this.$store.getters.loadPopup(this.id)
        }
      },
      data () {
      return {
        active: null,
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      }
    },
    methods: {
      next () {
        const active = parseInt(this.active)
        this.active = (active < 3 ? active + 1 : 0).toString()
      }
    }
}
</script>
<style>

</style>
