<template lang="html">
  <div>
    <!--  Introduction sentence  -->
    <div class="intro-sentence mb-4">
      <h1 class="mb-4">Select the basics.</h1>
      Select the type and position of your popup.

    </div>

   
    <!--  The color palette  -->
      <v-layout row wrap v-if="advancedSelected">
        <v-flex xs10>
          <v-subheader>Choose the background color you want for your popup:</v-subheader>
        </v-flex>
        <v-flex class="palette-container palette-advanced-animation" v-if="advancedSelected" xs2>
          <div class="palette-selector" :style="{backgroundColor: this.popupBackgroundColor}" @click="showPopUpPalette = !showPopUpPalette"></div>
        </v-flex>
        
      </v-layout>
      <div class="palette-underlay" v-if="showPopUpPalette" v-model="showPopUpPalette" @click="showPopUpPalette = !showPopUpPalette"></div>
      <div class="palette-colorpicker" v-model="showPopUpPalette" v-if="showPopUpPalette">
        <chrome v-model="colors" @change-color="onChange"></chrome>
      </div>
      <hr v-if="advancedSelected">

    
    <!--  Select the type of pop up you want  -->
    <v-layout row wrap class="mt-2">
      <v-flex xs6>
        <v-subheader>Format</v-subheader>
      </v-flex>
      <v-flex xs6>
        <v-select
          :items="items"
          v-model="selected"
          label="Select"
          single-line
          @change="change"
          item-value="text"
          return-object
        ></v-select>
      </v-flex>
    </v-layout>

    <hr v-if="showHr">

    <!--  Position  -->
    <v-layout row wrap v-if="showPosition">
      <hr>
      <v-flex xs6>
        <v-subheader>Position</v-subheader>
      </v-flex>
      <v-flex xs6>
        <v-select
          :items="positions"
          v-model="position"
          label="Select"
          single-line
          @change="positionChange"
          item-value="text"
          return-object
        ></v-select>
      </v-flex>
    </v-layout>

    <hr>
    <!--  Animation  -->
    <v-layout row wrap>
      <v-flex xs6>
        <v-subheader>Display animation (use up/down arrows to navigate list)</v-subheader>
      </v-flex>
      <v-flex xs6>
        <v-select
          :items="animations"
          v-model="animationSelected"
          label="Select"
          single-line
          @change="animationChange"
          item-value="text"
          return-object
        ></v-select>
      </v-flex>
    </v-layout>
 </div>



</template>

<script>
import { Photoshop, Chrome } from 'vue-color'
import { required } from 'vuelidate/lib/validators/'

export default {
  data () {
      return {
        //item: 'Center',
        items: [
          { text: 'Center' },
          { text: 'Corners' },
          { text: 'Full Screen' },
          { text: 'One Liner' },
          { text: 'One Third' }
        ],
        // Pop up General
        selected: null,
        position: null,
        showPosition: false,
        positions: [
          {text: 'Top right'},
          {text: 'Bottom right'},
          {text: 'Bottom left'},
          {text: 'Top left'}
        ],
        animationSelected: null,
        animations: [
            { text: 'none'},
            { text: 'bounce' },
            { text: 'flash' },
            { text: 'pulse' },
            { text: 'rubberBand' },
            { text: 'shake' },
            { text: 'headShake' },
            { text: 'swing' },
            { text: 'tada' },
            { text: 'wobble	' },
            { text: 'jello' },
            // { text: 'bounceIn' },
            // { text: 'bounceInDown' },
            // { text: 'bounceInLeft' },
            // { text: 'bounceInRight' },
            // { text: 'bounceInUp' },
            // { text: 'bounceOut' },
            // { text: 'bounceOutDown' },
            // { text: 'bounceOutLeft' },
            // { text: 'bounceOutRight' },
            // { text: 'bounceOutUp' },
            { text: 'fadeIn' },
            { text: 'fadeInDown' },
            { text: 'fadeInDownBig' },
            { text: 'fadeInLeft' },
            { text: 'fadeInLeftBig' },
            { text: 'fadeInRight' },
            { text: 'fadeInRightBig' },
            { text: 'fadeInUp' },
            { text: 'fadeInUpBig' },
            // { text: 'fadeOut' },
            // { text: 'fadeOutDown' },
            // { text: 'fadeOutDownBig' },
            // { text: 'fadeOutLeft' },
            // { text: 'fadeOutLeftBig' },
            // { text: 'fadeOutRight' },
            // { text: 'fadeOutRightBig' },
            // { text: 'fadeOutUp' },
            // { text: 'fadeOutUpBig' },
            { text: 'flipInX' },
            { text: 'flipInY' },
            // { text: 'flipOutX' },
            // { text: 'flipOutY' },
            { text: 'lightSpeedIn' },
            // { text: 'lightSpeedOut' },
            { text: 'rotateIn' },
            { text: 'rotateInDownLeft' },
            { text: 'rotateInDownRight' },
            { text: 'rotateInUpLeft' },
            { text: 'rotateInUpRight' },
            // { text: 'rotateOut' },
            // { text: 'rotateOutDownLeft' },
            // { text: 'rotateOutDownRight' },
            // { text: 'rotateOutUpLeft' },
            // { text: 'rotateOutUpRight' },
            { text: 'hinge' },
            { text: 'jackInTheBox' },
            { text: 'rollIn' },
            // { text: 'rollOut' },
            { text: 'zoomIn' },
            { text: 'zoomInDown' },
            { text: 'zoomInLeft' },
            { text: 'zoomInRight' },
            { text: 'zoomInUp' },
            // { text: 'zoomOut' },
            // { text: 'zoomOutDown' },
            // { text: 'zoomOutLeft' },
            // { text: 'zoomOutRight' },
            // { text: 'zoomOutUp' },
            { text: 'slideInDown' },
            { text: 'slideInLeft' },
            { text: 'slideInRight' },
            { text: 'slideInUp' },
            // { text: 'slideOutDown' },
            // { text: 'slideOutLeft' },
            // { text: 'slideOutRight' },
            // { text: 'slideOutUp' }
        ],
        // The color palette
        showPopUpPalette: false,
        colors: {
          hex: '#001034',
          hsl: {
            h: 150,
            s: 0.5,
            l: 0.2,
            a: 1
          },
          hsv: {
            h: 150,
            s: 0.66,
            v: 0.30,
            a: 1
          },
          rgba: {
            r: 25,
            g: 77,
            b: 51,
            a: 1
          },
          a: 1
        }
      }
    },
    validations: {

    },
    watch: {
      selected () {
        //this.item = this.selected
        return this.$store.dispatch('selectedPopupType', this.selected.text)
      },
      watchHex () {
        return this.$store.dispatch('popupBackgroundColor', this.colors.hex)
      }
    },
    methods: {
      onChange (val) {
        this.colors = val
      },
      change (){
        setTimeout(() => {
          //console.log(this.selected.text)
          var popupType = this.selected.text

          if ( popupType == 'One Liner' || 'One Third'){
            let positions = [
              {text: 'Top'},
              {text: 'Bottom'}
            ]
            this.positions = positions
            this.showPosition = true
          }

          if ( popupType == 'Corners' ){
            let positions = [
              {text: 'Top right'},
              {text: 'Bottom right'},
              {text: 'Bottom left'},
              {text: 'Top left'}
            ]
            this.positions = positions
            this.position = 'Top left'
            this.showPosition = true

          } else if ( popupType == 'Center' || popupType == 'Full Screen') {
            this.showPosition = false
          }
        }, 100);
      },
      positionChange () {
        setTimeout(() => {
          return this.$store.dispatch('setPopUpPosition', this.position)
        }, 100);
      },
      animationChange () {
        setTimeout(() => {
          return this.$store.dispatch('setPopUpAnimation', this.animationSelected)
        }, 100);
      },
      test(){
        
      }
    },
    computed: {
      watchHex () {
        return this.colors.hex
      },
      popupBackgroundColor () {
            return this.$store.getters.currentPopupBackgroundColor
      },
      advancedSelected () {
        return this.$store.getters.advancedSelected
      },
      // Created properties for Getters
      currentPopupType () {
        return this.$store.getters.currentPopupType
      },
      currentPopupPosition () {
        return this.$store.getters.currentPopupPosition
      },
      currentPopUpAnimation () {
        return this.$store.getters.currentPopUpAnimation
      },
      currentPopupBackgroundColor () {
        return this.$store.getters.currentPopupBackgroundColor
      },
      showHr () {
        let currentPopUpType = this.$store.getters.currentPopupType

        if (currentPopUpType == 'Corners' || currentPopUpType == 'One Liner' || currentPopUpType == 'One Third'){
          return true
        }
        return false
      }
    },
    created () {

      

      this.selected = { text: this.currentPopupType}
      if (this.currentPopupPosition){
        this.position = { text: this.currentPopupPosition.text}
      }

      if (this.currentPopupType == 'Full Screen' || this.currentPopupType == 'Center'){
          this.showPosition = false
      } else {
          this.showPosition = true
      }

      this.animationSelected = this.currentPopUpAnimation
      this.colors.hex = this.currentPopupBackgroundColor

    }
}
</script>

<style lang="css">
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0, 17, 46, 0.1);
    /* border-top: 1px solid rgb(0, 101, 255,0.1); */
    margin: 1em 0;
    padding: 0;
}
</style>
