<template lang="html">
  <div class="">
    <!-- <show-alert  v-if="triggerErrorTiming" :text="'You must enter a timing for your popup'" /> -->

    <!-- Introduction sentence -->
    <div class="intro-sentence mb-4">
      <h1 class="mb-4">Finishing touches</h1>
    </div>

    <!--  Select the type of pop up you want  -->
    <v-layout row>
      <v-flex xs6>
        <v-subheader>Display popup:</v-subheader>
      </v-flex>
      <v-flex xs6>
        <v-select
          :items="items"
          v-model="popupDisplayTiming"
          label="Select"
          single-line
          item-value="text"
          return-object
          @change="popupTiming"
        ></v-select>
      </v-flex>

    </v-layout>
    <hr>

    <!-- Website address -->
    <v-layout row>
      <v-flex xs4>
        <v-subheader>Your website address</v-subheader>
      </v-flex>
      <v-flex xs8>
        <v-text-field
          placeholder="http://www."
          v-model="websiteUrl"
        ></v-text-field>
      </v-flex>
    </v-layout>

    <hr>

    <!--  Last bits  -->
    <v-layout row>
     <v-flex xs12>
       <v-text-field
         id="testing"
         name="lastNotes"
         label="Last bits of information you would like to tell me?"
         multi-line
         rows="2"
         v-model="lastNotes"
       ></v-text-field>
     </v-flex>
   </v-layout>

   <hr>

    <!-- Extra information fonts & cookies -->
    <v-layout row>
           <v-flex xs12>
            <h3> <span class="emphasized">Fonts</span> will be matched to the headers and paragraph fonts of your website.</h3>
          </v-flex>
    </v-layout>
    <br>
    <v-layout row>
          <v-flex xs12>
            <h3><span class="emphasized">Cookies </span> will expire in 10 days.</h3>
          </v-flex>
    </v-layout>

  </div>

</template>

<script>
export default {
  data () {
    return {
      items: [
        { text: 'Immediately' },
        { text: 'On window leave' },
        { text: 'After 5 seconds' },
        { text: 'After 10 seconds' },
        { text: 'After 15 seconds' }
      ],
      popupDisplayTiming: null,
      lastNotes: null,
      websiteUrl: null,
      showErrorTiming: false,
      showErrorUrl: false
    }
  },
  watch: {
    lastNotes () {
      return this.$store.dispatch('finishingTouchesNotes', this.lastNotes)
    },
    websiteUrl () {
      return this.$store.dispatch('websiteUrl', this.websiteUrl)
    },
    showErrorTiming () {
      return this.$store.dispatch('showErrorTiming', this.showErrorTiming)
    },
     showErrorUrl () {
      return this.$store.dispatch('showErrorUrl', this.showErrorUrl)
    }

  },
  methods: {
    popupTiming () {
        
        setTimeout(() => {
          return this.$store.dispatch('popupDisplayTiming', this.popupDisplayTiming)
        }, 100);
    }
  },
  computed: {
    currentPopUpTiming() {
      return this.$store.getters.currentPopUpTiming
    },
    currentWebsiteUrl() {
      return this.$store.getters.currentWebsiteUrl
    },
    currentfinishingTouchesNotes() {
      return this.$store.getters.currentfinishingTouchesNotes
    },
    triggerErrorTiming () {
      return this.$store.getters.showErrorTiming
    }
  },
  created() {

      // Popup timing populate
      if (this.currentPopUpTiming){
        this.popupDisplayTiming = this.currentPopUpTiming
      } else {
        this.popupDisplayTiming = null
      }

      // Current website
      if (this.currentWebsiteUrl) {
        this.websiteUrl = this.currentWebsiteUrl
      } else {
        this.websiteUrl = null
      }

      // Last bits
      if (this.currentfinishingTouchesNotes) {
        this.lastNotes = this.currentfinishingTouchesNotes
      } else {
        this.lastNotes = null
      }

  }
}
</script>

<style lang="css">

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0, 17, 46, 0.1);
    /* border-top: 1px solid rgb(0, 101, 255,0.1); */
    margin: 1em 0;
    padding: 0;
}

.emphasized {
    font-weight: 700;
    color: #228EFA;
}

</style>
