<template lang="html">
  <div class="">
    <!--  Introduction sentence  -->
    <div class="intro-sentence mb-4">
      <h1 class="mb-4">Content and fields</h1>
      <p v-if="advancedSelected">Select the fields you want, set your own text and their respective colors.</p>
      <p v-else>Select the fields you want and set your own text.</p>
    </div>

    <!--  Pop Up title  -->
    <v-layout row>
       <!-- Text field -->
       <v-flex xs12>
         <v-text-field
           name="input-1"
           v-model="popupTitle"
           label="Type the title of your pop up"
           id="testing"
         ></v-text-field>
       </v-flex>

       <!--  The palette picker-->
       <v-flex class="palette-container" xs2 v-if="advancedSelected">
         <!--  Palette popup -->
         <div class="palette-underlay" v-if="showPopUpPalette" v-model="showPopUpPalette" @click="showPopUpPalette = !showPopUpPalette"></div>
         <div class="palette-colorpicker" v-model="showPopUpPalette" v-if="showPopUpPalette">
           <chrome v-model="colorTitle" @change-color="onChange"></chrome>
         </div>
         <!--  End Palette popup -->
         <div class="palette-selector" :style="{backgroundColor: this.colorTitle.hex}" @click="showPopUpPalette = !showPopUpPalette"></div>
       </v-flex>
     </v-layout>

    <!--  Subtitle  -->
    <subtitle-color v-if="isOneLiner"></subtitle-color>

    <!--  Pop Up Button text -->
    <button-color></button-color>

     <!--  Input text field 1 -->
     <v-layout row v-if="showTextField1 && isOneLiner">
        <v-flex xs12>
          <v-text-field
            name="input-2"
            v-model="textField1"
            label="What do you want for you first input field?"
            id="testing"
          ></v-text-field>
        </v-flex>
        <v-tooltip top>
           <v-icon dark color="primary" slot="activator" @click="removeField1">remove_circle</v-icon>
           <span>Delete field</span>
        </v-tooltip>
      </v-layout>

      <!--  Input text field 2 -->
      <v-layout row v-if="showTextField2">
         <v-flex xs12>
           <v-text-field
             name="input-3"
             v-model="textField2"
             label="What do you want in the second input field?"
             id="testing"
           ></v-text-field>
         </v-flex>
         <v-tooltip top>
            <v-icon dark color="primary" slot="activator" @click="removeField2">remove_circle</v-icon>
            <span>Delete field</span>
         </v-tooltip>
       </v-layout>
      
      <v-layout row flex align-center v-if="!showTextField2 && showTextField1 && isOneLiner && isOneThird" >
          <v-tooltip top >
              <v-icon @click="addField2" class="custom-icon--position" dark color="primary" slot="activator">add</v-icon>
              <span>Add field</span>
          </v-tooltip>
          <div class="add-field clickable" @click="addField2">
            <strong> Add field</strong>
          </div>   
       </v-layout>
       



    <!--  Remove undo button area  -->
    <div v-if="showUndoRemoveTextField1" class="remove-text-field" @click="undoRemoveField1">
      Click here to add the text field.
    </div>
  </div>

</template>

<script>
export default {
  data () {
    return {
      // Pop up titles
      popupTitle: null,
      popupSubTitle: null,
      popupBtnText: null,
      // Text fields
      textField1: null,
      textField2: null,
      //emailField: null, obviously they need the email field
      // hide or show
      showTextField1: null,
      showTextField2: false,
      showUndoRemoveTextField1: false,
      // popup palette
      showPopUpPalette:false,
      colorTitle: {
      hex: '#FFFFFF',
      hsl: {
        h: 150,
        s: 0.5,
        l: 0.2,
        a: 1
      },
      hsv: {
        h: 150,
        s: 0.66,
        v: 0.30,
        a: 1
      },
      rgba: {
        r: 25,
        g: 77,
        b: 51,
        a: 1
      },
      a: 1
    }
    }
  },
  methods: {
    onChange (val) {
      this.colorTitle = val
    },
    removeField1 (){
      this.showTextField1 = false
      this.textField1 = 'removed'
      this.showUndoRemoveTextField1 = true
      return this.$store.dispatch('toggleTextField1')
    },
    removeField2 (){
      this.showTextField2 = false
      this.textField2 = 'removed'
      return this.$store.dispatch('toggleTextField2')
    },
    undoRemoveField1 (){
      this.showTextField1 = true
      this.textField1 = 'Name'
      this.showUndoRemoveTextField1 = false
      return this.$store.dispatch('toggleTextField1')
    },
    addField2 () {
      this.showTextField2 = true
      this.textField2 = 'New Field'
      return this.$store.dispatch('toggleTextField2')
    }
  },
  watch: {
    selected () {
      return this.$store.dispatch('selectedPopupType', this.selected.text)
    },
    popupTitle () {
      return this.$store.dispatch('setPopUpTitle', this.popupTitle)
    },
    popupSubTitle () {
      return this.$store.dispatch('setPopUpSubTitle', this.popupSubTitle)
    },
    textField1 () {
      return this.$store.dispatch('setTextfield1', this.textField1)
    },
    textField2 () {
      return this.$store.dispatch('setTextfield2', this.textField2)
    },
    colorTitle () {
      return this.$store.dispatch('setPopUpTitleColor', this.colorTitle.hex)
    }
  },
  computed: {
    popupBackgroundColor () {
        return this.$store.getters.currentPopupBackgroundColor
    },
    advancedSelected () {
        return this.$store.getters.advancedSelected
    },
    currentPopupType () {
        return this.$store.getters.currentPopupType
    },
    isOneLiner () {
        if (this.$store.getters.currentPopupType !== 'One Liner') {
          return true
        } else {
          return false
        }
    },
    isOneThird () {
        if (this.$store.getters.currentPopupType !== 'One Third') {
          return true
        } else {
          return false
        }
    },
    // Getters from State to populate fields if previous is pressed
    currentPopUpTitle () {
      return this.$store.getters.currentPopUpTitle
    },

    currentPopUpSubTitle () {
      return this.$store.getters.currentPopUpSubTitle
    },
    currentTextField1 (){
      return this.$store.getters.currentTextField1
    },
    currentTextField2 (){
      return this.$store.getters.currentTextField2
    },
    showTextFieldOne () {
      return this.$store.getters.showTextField1
    },
    showTextFieldTwo () {
      return this.$store.getters.showTextField2
    }
  },
  created () {
      // Popup title
      if (!this.currentPopUpTitle){
        this.popupTitle = 'Join us'
      } else {
        this.popupTitle = this.currentPopUpTitle
      }

      // Text field 1
      if (!this.currentTextField1){
        this.textField1 = 'Name'
      } else {
        this.textField1 = this.currentTextField1
      }

      // Text field 2
      if (this.showTextFieldTwo == true){
        this.showTextField2 = true
        this.textField2 = this.currentTextField2
      } else {
        this.showTextField2 = false
      }

      // Email Fields
      this.emailField = 'Email'

      // Show text field 1
      if (!this.showTextFieldOne && this.showTextFieldOne != false) {
        this.showTextField1 = true
      } else {
        this.showTextField1 = this.showTextFieldOne
      }
      // Show text field 2
      if (!this.showTextFieldOne && this.showTextFieldOne != false) {
        this.showTextField1 = true
      } else {
        this.showTextField1 = this.showTextFieldOne
      }

      // On previous click if textField1 = removed show 'undo' option
      if (this.showTextFieldOne == false ) {
        this.showUndoRemoveTextField1 = true
      } else {
        this.showUndoRemoveTextField1 = false
      }
  }

}
</script>

<style lang="css">
.application .theme--dark.icon, .theme--dark .icon {
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    /* background-color: blue;
    border-radius: 50%;
    color: white!important; */
}

.remove-text-field {
    float: right;
    margin-top: 120px;
    color: #0065ff;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation: FadeIn .5s linear forwards;
    opacity: 0;
    cursor: pointer;
}

.custom-icon--position {
  margin-top: -15px!important;
}

.add-field {
  margin-top: -10px;
  margin-left: 5px;
}

.clickable {
  cursor: pointer;
  opacity: 0.5;
  color: rgb(0, 101, 255,0.6);
}



@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
</style>
