<template lang="html">
  <div>
    <!--  Introduction sentence  -->
    <div class="intro-sentence mb-4">
      <h1 class="mb-4">{{ this.imageTextChangeH1}}</h1>
      <!-- {{ this.imageTextChangeParagraph }} -->
    </div>

    <!--  Select the type of pop up you want  -->
    <v-layout row wrap class="mt-2" v-if="showImagePosition">
      <v-flex xs6>
        <v-subheader>Select image position:</v-subheader>
      </v-flex>
      <v-flex xs6>
        <v-select
          :items="items"
          v-model="selected"
          item-value="text"
          return-object
          label="Select"
          single-line
          @change="imageChange"
        ></v-select>
      </v-flex>
    </v-layout>

    <v-layout v-if="showOpacitySlider">
      <v-flex xs5>
        <v-subheader>Select background opacity (decrease to reveal):</v-subheader>
      </v-flex>
      <v-flex xs5>
         <v-slider  v-model="value1" step="0"></v-slider>
      </v-flex>
      <v-flex xs2>
        <v-subheader>{{ this.sliderOpacityPercentage }}</v-subheader>
      </v-flex>
    </v-layout>

    <hr>
    <!-- Upload image -->
    <v-layout row>
      
      <v-flex sm4>
         <v-subheader style="margin-top: -2px;">Select image:</v-subheader>
      </v-flex>

      <v-flex sm3 >
        <img class="image-uploaded" :src="imageUrl" height="150" width="100%">
      </v-flex>
      
      <v-flex sm4>
        <v-btn
            color="blue-grey"
            class="white--text"
            @click="onPickFile">
          Upload
          <v-icon right dark>cloud_upload</v-icon>
        </v-btn>
          
        <input
          type="file"
          style="display:none;"
          ref="fileInput"
          accept="image/*"
          @change="onFilePicked"/>
      </v-flex>
      
    </v-layout>

  

    <hr v-if="overlayCenter">
    <!-- Center popup only background overlay -->
    <v-layout v-if="overlayCenter">
      <v-flex xs6>
        <v-subheader>Select background overlay behind the popup:</v-subheader>
      </v-flex>
      <v-flex xs6>
        <v-select
          :items="overlays"
          v-model="overlay"
          item-value="text"
          return-object
          label="Select"
          single-line
          @change="changeBg"
        ></v-select>
      </v-flex>
    </v-layout>

    <hr>
    <!--  Notes about photo  -->
    <v-layout row>
     <v-flex xs12>
       <v-text-field
         id="testing"
         name="imageNotes"
         label="Extra information I should know of?"
         multi-line
         rows="1"
         v-model="imageNotes"
         

       ></v-text-field>
     </v-flex>
   </v-layout>


 </div>

</template>

<script>
import { Photoshop, Chrome } from 'vue-color'
import { EventBus } from '../../../main.js'


export default {
  data () {
      return {
        items: [
          { text: 'None' },
          { text: 'Top' },
          { text: 'Left' },
          { text: 'Right' }
        ],
        selected: null,
        overlays: [
          { text: 'Dark' },
          { text: 'Light' },
          { text: 'Blur' },
          { text: 'None' }
        ],
        overlay: null,
        value1:100,
        colors: {
          rgba: {
            r: 25,
            g: 77,
            b: 51,
            a: 1
          },
          a: 1
        },
        imageNotes: null,
        imageUrl: null,
        image: null
      }
    },
    watch: {
      // selected () {
      //   return this.$store.dispatch('setSelectedImage', this.selected.text)
      // },
      value1 () {
        return this.$store.dispatch('popupBackgroundColor', this.newRGBA)
      },
      imageNotes () {
        return this.$store.dispatch('imageNotes', this.imageNotes)
      },
      overlay (){
        return this.$store.dispatch('overlayBg', this.overlay)
      },
      imageUrl (){
        return this.$store.dispatch('imageUrl', this.imageUrl)
      }
    },
    methods: {
      change (){

      },
      someHandler () {
        return this.$store.dispatch('imageNotes', this.imageNotes)
      },
      onPickFile () {
        this.$refs.fileInput.click()
      },
      onFilePicked (event) {
         const files = event.target.files
         console.log(files)
         let filename = files[0].name
         console.log(filename)
         if(filename.lastIndexOf('.') <= 0) {
            return alert('Please enter a valid file!')
         }
         const fileReader = new FileReader()
         fileReader.addEventListener('load', () => {
           this.imageUrl = fileReader.result
         })

         // Hereunder is async thus needs the above to be fired
         fileReader.readAsDataURL(files[0])

         // Simply store the file without any changes to later upload it
         this.image = files[0]
      },
       imageChange () {
        setTimeout(() => {
          return this.$store.dispatch('setSelectedImage', this.selected.text)
        }, 100);
      },
      changeBg() {
        EventBus.$emit('showCloseButton', true)
        setTimeout(() => {
          return this.$store.dispatch('overlayBg', this.overlay)
        }, 100);
      }


    },
    computed: {
      selectedImage () {
          return this.$store.getters.selectedImage
      },
      currentPopupType () {
          return this.$store.getters.currentPopupType
      },
      popupBackgroundColor () {
        return this.$store.getters.currentPopupBackgroundColor
      },
      newColor () {
        var current = this.$store.getters.currentPopupBackgroundColor
        return current.split('').splice(3, 0, 'Feb');
      },
      sliderPercentage () {
        return Math.round(this.value1 * 1) / 100
      },
      sliderOpacityPercentage () {
        return Math.round(Math.round(this.value1 * 1) / 100 * 100) + '%'
      },
      newRGBA (){

          // Convert HEX to RGBA
          if ( this.popupBackgroundColor.charAt(0) == '#') {
            var c;
            var hex = this.popupBackgroundColor;
            if(/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)){
                c= hex.substring(1).split('');
                if(c.length== 3){
                    c= [c[0], c[0], c[1], c[1], c[2], c[2]];
                }
                c= '0x'+c.join('');
                return 'rgba('+[(c>>16)&255, (c>>8)&255, c&255].join(',')+','+ this.sliderPercentage +')';
            }
          } else {


              // Current bg color
              var str = this.popupBackgroundColor

              // Grab rbgColor in between parenthesis not the beginning part
              var rbgColors = str.substring(str.lastIndexOf("(")+1, str.lastIndexOf(")"));
              // Count commas to find if alpha has been added yet
              var countCommas = (rbgColors.match(/,/g) || []).length;

                // Count # of commas
                if ( countCommas == 3){
                  var withoutOldAlpha =  rbgColors.substring(0, rbgColors.lastIndexOf(",")+1)
                  return 'rgba(' + withoutOldAlpha + this.sliderPercentage  + ')'

                } else if ( countCommas < 3){
                  return 'rgba(' + rbgColors + ',' + this.sliderPercentage + ')'
                }

          }
      },
      showOpacitySlider (){
        var popupType = this.currentPopupType

        if ( this.selectedImage == 'None' ){
          return false
        } else if ( this.selectedImage != null ){
          if ( popupType == 'Full Screen' || popupType == 'One Third' && this.showImagePosition == true ){
            return true
          } else {
            return false
          }
        }
      },
      showImagePosition () {
        var popupType = this.currentPopupType

        if ( popupType != 'One Liner' ){
          return true
        } else {
          return false
        }
      },
      imageTextChangeH1 () {
        var popupType = this.currentPopupType
        if ( popupType == 'One Liner') {
          return 'Extra information'
        } else {
          return 'Choose image or pattern'
        }
      },
      imageTextChangeParagraph () {
        var popupType = this.currentPopupType
        if ( popupType == 'One Liner') {
          return 'One Liner popups are there to distract the users to a minimum. If you would like to have an image, please consult the other types of popups. Or drop me a short description in the text box hereunder and I will let you know if it is possible'
        } else {
          return 'Choose image or pattern'
        }
      },
      currentImageUrl() {
        return this.$store.getters.imageUrl
      },
      currentOverlayBg (){
        return this.$store.getters.currentOverlayBg
      },
      currentImageNotes() {
        return this.$store.getters.currentImageNotes
      },
      overlayCenter(){
        if (this.currentPopupType == 'Center') {
          return true
        }
        return false
      }

    },
    created () {


      // Change the dropdown in step 3
      var popupType = this.currentPopupType

          if ( popupType === 'Center' ||  popupType === 'Corners') {
            let items = [
              { text: 'None' },
              { text: 'Top' },
              { text: 'Left' },
              { text: 'Right' }
            ]
            this.items =  items

          } else  if ( popupType === 'Full Screen' || popupType === 'One Third' ){
              let items = [
                {text: 'None'},
                {text: 'Background'}
              ]
              this.items = items
          }

      // Color data import
      var colorInput = this.popupBackgroundColor
      this.colors = colorInput


      if (!this.selectedImage){
        this.selected = null
      } else {
        this.selected = { text: this.selectedImage }
      }

      // Image URL
      if (!this.currentImageUrl) {
        this.imageUrl = null
      } else {
        this.imageUrl = this.currentImageUrl
      }
      
      // overlay bg
      if (this.currentOverlayBg) {
        this.overlay = this.currentOverlayBg
      } else {
        this.overlay = null
      }
     
      // Image Notes
      // if (this.imageNotes) {
      //   this.imageNotes = this.currentImageNotes
      // } else {
      //   this.imageNotes = null
      // }

      if (this.currentImageNotes){
        this.imageNotes = this.currentImageNotes
      } else {
        this.imageNotes = null
      }
      
    }
}
</script>

<style lang="css">

.application .theme--dark.icon, .theme--dark .icon {
    color: #fff;
    margin-top: 0px;
    cursor: pointer;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0, 17, 46, 0.1);
    /* border-top: 1px solid rgb(0, 101, 255,0.1); */
    margin: 1em 0;
    padding: 0;
}

.image-uploaded {
  max-height: 60px;
}
</style>
