<template>
    <div class="submitted">
        <div class="animation">
            Your popup was submitted successfully! <br> We will get back to you shortly. 
            <lottie :options="defaultOptions" :height="300" :width="400" v-on:animCreated="handleAnimation"/>
            <p>You may close this browser window.</p>
        </div>
        
    </div>
</template>
<script>
import Lottie from '@/lottie.vue';
import * as animationData from '@/assets/cup.json';


export default {
    components: {
      'lottie': Lottie
    },
    methods: {
      handleAnimation: function (anim) {
        this.anim = anim;
      }
    },
    data() {
      return {
        defaultOptions: {
            animationData: animationData,
            loop: false,
            autoplay: true
        },
        animationSpeed: 0.2,
        
      }
    }
    
}
</script>
<style scoped>
    .submitted {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 420px;
    }
    .animation {
        font-size: 1.6rem;
        text-align: center;
    }
    .animation p {
        font-size: 1rem;
    }
</style>
