<template lang="html">
  <div class="sidebar-container">
    <v-container class="container">
        <v-layout row wrap>
          <v-flex>
            <div class="steps-container" v-for="(step, index) in steps" >

              <!-- Change to image if passed that point -->
              <div  class="steps-number"
                    v-if="index  >= currentPreviewStep"
                    v-bind:class="[stepState]">
                {{index + 1 }}
              </div>
              <img class="steps-tick"src="@/assets/Tick circle green.svg" style="height:65px;"alt="" v-else>
              <!-- end of change -->

              <div class="steps-text">
                <h3>{{ step.title }}</h3>
                {{ step.name }}
              </div>
            </div>
          </v-flex>
        </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
    data () {
      return {
        steps: [
          { name:'Select the format and display animation.', title:'The basics.'},
          { name:'Add content to attract visitors.', title:'Content and fields'},
          { name:'Add an image to your popup', title:'Image'},
          { name:'Options and more information', title:'Finishing touches'}
        ]
      }
    },
    computed: {
        currentPreviewStep () {
            return this.$store.getters.currentPreviewStep
        },
        stepState () {
            if ( this.$store.getters.currentPreviewStep >= 0) {
              return 'steps-number--active'
              //return ''
            }
        }
    }

}
</script>

<style lang="css">
.container {
  background: none;
}

.sidebar-container {
  color:white;
  padding:100px;
  display: flex;
  flex-direction: column;

}

.steps-container {
  display: flex;
  height: 180px;
}

.steps-container> * {
  margin: 5em 0;
}

.steps-number {
  padding: 28px 25px;
  background-color: grey;
  border-radius: 50%;
  color: black;
  line-height: 4px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.steps-number--active {
    background-color: white;
}

.steps-tick {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  animation: FadeIn .5s linear forwards;
}

.steps-text {
  padding: 0px 0 0 20px;
}

.steps-number :after {
    position: absolute;
    content:"\2713\0020";
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
    font-size:34px;
    color:blue;
    top:0%;
    margin-top:-17px; /* 50% of height */
    left:0%;
    margin-left: -17px; /* 50% of width */
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0,20px,0);
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes FadeOut {
  100% {
    opacity: 0;
    transform: translate3d(0,20px,0);
  }

  85% {
    opacity: 1;
  }

  0% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
</style>
