<template>
  <v-app>
    <div class="non-responsive-app">
      <h2>Oops, the app isn't optimised for mobile use. Please switch to a bigger screen. :)</h2>
      <img class="responsive" src="./assets/brokenPage.png" alt="">
    </div>
    
    <v-container v-if="currentStep === 0 || currentStep === 1">
      <app-comp-1 v-if="currentStep === 0"></app-comp-1>
      <app-comp-2 v-if="currentStep === 1"></app-comp-2>
    </v-container>
    <app-comp-3 v-if="currentStep === 2"></app-comp-3>

    <router-view></router-view>


  </v-app>
</template>

<script>
export default {
  data () {
    return {

    }
  },
  computed: {
    currentStep () {
        return this.$store.getters.currentStep
    }
  },
  name: 'App'
}
</script>

<style media="screen">
.application.theme--light {
  background: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.subheader {
  padding: 0!important;
  margin-top: 8px;
}

.non-responsive-app {
  display: none;
}

.non-responsive-app h2 {
  opacity: 0.8;
}

@media only screen and (max-width: 1300px) {
    
  .non-responsive-app {
      display: block;
      background: white;
      opacity: 0.9;
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

     
  }

  .responsive {
      max-width: 100%;
      height: auto;
  }
}
</style>
