<template lang="html">
  <div class="footer-container">

        <v-flex class="footer-buttons">
          <v-btn class="secondary-warning"@click="previousPreviewStep" v-if="currentPreviewStep >= 1">
            Previous
          </v-btn>
          <v-spacer v-else></v-spacer>
          <v-btn class="primary" @click="nextPreviewStep">
            Next
          </v-btn>
        </v-flex>


  </div>
</template>

<script>
export default {
  methods: {
    nextPreviewStep () {
      return this.$store.dispatch('nextPreviewStep')
    },
    previousPreviewStep () {
      return this.$store.dispatch('previousPreviewStep')
    }
  },
  computed: {
    currentPreviewStep () {
        return this.$store.getters.currentPreviewStep
    }
  }
}
</script>

<style lang="css">
.footer-container {
  background-color: #eaeced;
  height:60px;
}

.footer-buttons {
  padding:5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
</style>
